<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
</head>
<body>
    <form action="/posts" method="post">  
        <input type="text" name="username" placeholder="enter your name">
        <br>
        <textarea name="content" cols="30" rows="10" placeholder="enter the content"></textarea>
        <br>
        <button>Submit Post</button>
    </form>

</body>
</html>